@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-theme: #161618;
  --color-white-theme: #faf9f6;

  --color-open-guard-theme: #cc3333;
  --color-open-guard-theme-light: #ff6d62;
  --color-open-guard-theme-dark: #8e0007;

  --color-half-guard-theme: #cc9933;
  --color-half-guard-theme-light: #ffcf68;
  --color-half-guard-theme-dark: #916600;

  --color-primary-ja: #d1ff00;
  --color-primary-ja-opacity: rgba(209, 255, 0, 0.5);
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  .animate-accordion-down {
    animation: accordion-down 300ms ease-in-out;
  }

  .animate-accordion-up {
    animation: accordion-up 300ms ease-in-out;
  }

  .text-outline-shadow-black {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
}

:root {
  --background: var(--color-white-theme);
  --foreground: var(--color-dark-theme);

  --primary: var(--color-primary-800);
  --content-text: var(--color-white-theme);
  --font-sans: system-ui, sans-serif;
  --font-mono: monospace;
}

.dark {
  --background: var(--color-dark-theme);
  --foreground: var(--color-white-theme);

  --primary: var(--color-primary-300);
  --content-text: var(--color-dark-theme);
}

html {
  scroll-behavior: smooth;
}

body,
select {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.sanitized-json a {
  color: inherit;
}

.sanitized-json a:hover {
  color: var(--primary);
}

.footer-icon a {
  color: inherit;
}

.footer-icon a:hover {
  color: var(--primary);
}

.rdp-root {
  --rdp-accent-color: var(--background);
}

/* change scroll bars layout */

*::-webkit-scrollbar {
  width: 0.01px;
  background-color: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background);
}
